@import "tailwindcss";

body {
  @apply bg-[#080d1d] text-white font-sans m-0 p-0 overflow-x-hidden;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll-right {
  animation: scroll-right 40s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll-right:hover {
  animation-play-state: paused;
}